asgiref==3.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
Django==3.1.6
django-bootstrap3==14.2.0
django-filter==2.4.0
django-forms-bootstrap==3.1.0
django-nvd3==0.9.7
idna==2.10
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.4
nltk==3.5
numpy==1.20.1
oauthlib==3.1.0
Pillow==8.0.1
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2020.4
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
textblob==0.15.3
tqdm==4.57.0
tweepy==3.10.0
Unidecode==1.2.0
urllib3==1.26.3
