.centrify{
    height: 50px;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;

}

.contact{
    border: 2px solid black;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}



#myChart {
    width: 100%;
    height: 100%;
    min-height: 400px;
}

.zc-ref {
    display: none;
}

.hist{
    border: 2px solid black;
    margin-bottom: 4px;
}

.centrify-home{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}