<!DOCTYPE html>
{% extends "base.htm" %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}

Search_Page

{% endblock %}

{% block body %}
        <h3>PLEASE Enter the data to stream below</h3>
        <!-- user the enctype attribute because we are uploading images  -->
        <form enctype="multipart/form-data" method="POST">
            <div class="container sign-form">
                {% csrf_token %}
                
                {{ search_form |as_bootstrap  }}
                
                <input type="submit" class = “btn btn-default” name="submit" value="submit">
                </div>
            </form>
        </div>

        <div class="container" style="margin-bottom: 10px;">
            <h2> <u> Previous Searches  </u> </h2>
        </div>

        <div class="container" >
            <div class="col-md-12">
                {% for items in history %}
                    <div class="row hist" >
                        <div class="col-md-6">
                            <ul style="list-style: none;">
                                <h4><li>Tag : " {{items.search_term}} "</li></h4>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <h4><li> {{items.no_of_terms}} streams</li></h4>
                            </ul>
                        </div>
                    </div>
                {%endfor%}
            </div>
        </div>

{% endblock %}